html, body {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Red Rose', cursive;
    font-size: 15px;
}

body, ul {
    margin: 0;
    padding: 0;
    line-height: 35px;
}

h1, h2, .skills-list {
    font-family: 'Rowdies', cursive;
}

h1, h2 {
    font-weight: normal;
}

h1 {
    font-size: 120px;
    line-height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 120px;
}

h2 {
    font-size: 30px;
    line-height: 130%;
}

img {
    /*this is limiting the width of the image,
    so it takes 100% width of the parent maximum*/
    max-width: 100%;
    margin-bottom: 60px;
}

a img {
    margin-bottom: 0px;
}

p {
    line-height: 150%;
    font-size: 20px;
}

nav {
    background-color: #a4a8ae;
    position: fixed;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

li.empty {
    width: 180px;
    margin: 5px 25px;
    border-top: 1px solid black;
    top: 1px;
    position: relative;
}

nav ul li {
    display: inline-block;
    margin: 0 20px; /*first number is top & bottom, second is for left & right*/
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
}

nav li a {
    text-decoration: none;
    color: black;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

nav li a:hover {
    color: orange;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    margin: 10px 0;
}

header {
    position: relative;
    margin-bottom: 130px;
    background-image: url('../img/images.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header h2 {
    margin-top: 0px;
    margin-bottom: 60px;
    letter-spacing: 20px;
    font-family: 'Red Rose', cursive;
    font-size: 20px;
    text-align: center;
}

footer {
    text-align: center;
    margin: 60px;
}

footer h2 {
    font-size: 50px;
    margin-bottom: 60px;
}

figcaption {
    font-size: 10px;
    margin-top: 10px;
}

.intro-image {
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.5);
    margin-top: 90px;
}

.intro-text {
    text-align: center;
    margin: 40px 40px;
}

.home {
    width: 2%;
    height: 2%;
    margin: 0;
    margin-top: 2px;
    margin-right: -15px;
    margin-left: -18px;
    float: left; 
    z-index: 0;
}

.home-button {
    box-sizing: border-box;
    width: 29.975px;
    height: 29.975px;
    margin: -0px;
    margin-top: 3px;
    margin-right: -15px;
    margin-bottom: -15px;
    float: left; 
    border: 2px solid black;
    text-decoration: none;
    border-radius: 10px;
    padding: 2px;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    outline: none;
    z-index: 1;
}

.home-button:hover {
    background: orange;
}

.skills-list {
    text-align: center;
    font-size: 50px;
    line-height: 150%;
    margin-bottom: 130px;
}

.button {
    border: 2px solid black;
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    margin-top: 30px;
    margin-bottom: 25px;
    line-height: 20px;
    display: inline-block;
    border-radius: 20px;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    font-family: 'Red Rose', cursive;
    font-size: 15px;
    outline: none;
}

.button:hover {
    background: orange;
}

.project {
    margin: 30px 0px;
    padding: 50px;
}

.project .button {
    margin-top: 10px;
}

.blue {
    background-color: #a4a8ae;
    background-size: cover;
}

.right-alignment {
    text-align: right;
}

.center-alignment {
    text-align: center;
    margin-bottom: 100px;
}

::selection {
    background: orange;
}

/*Works tab classes*/

.works-header {
    background-image: none;
    text-align: center;
    margin-bottom: 100px;
}
