body {
    background-color: #ffae07;
}

img {
    margin: 50px;
    padding: 20px;
    border: 1px solid #000000;
}

p {
    color: orange;
    background: black;
}

h1 {
    color: blue;
}

a {
    text-decoration: none;
}

.highlight {
    background: gray;
    font-size: 20px;
    color: hotpink;
}

.bigger {
    font-size: 40px;
}